/* ExampleTileStyle.css */
.root {
    /* Set background color */
    -fx-background-color: #525252;
    -fx-border-radius: 50%;
    -fx-background-radius: 30;
}

/* Style for the VBox container */
.vbox {
    /* Add padding to top, right, and bottom */
    -fx-padding: 15px;
    /* Set spacing between children elements */
    -fx-border-radius: 50%;
}


/* Style for the Label */
#title {
    /* Set font size and color */
    /*Change the color of the title to white*/
    -fx-font-size: 23px;
    -fx-text-fill: #e3e3e3;
    /* Add a hover effect when the mouse is over the label */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 0);
}

#sqr_image{
    /* Add margin to the bottom */
    -fx-margin-bottom: 10px;
    -fx-image-border-radius: 50%;
    /* Add a hover effect when the mouse is over the image */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 0);
}