/* ExampleTileStyle.css */
.root {
    /* Set background color */
    -fx-background-color: #525252;
    -fx-background-radius: 20;
}

.root:hover {
    /* Set background color when hovered */
    -fx-background-color: #6c6c6c;
}

/* Style for the VBox container */
.vbox {
    /* Add padding to top, right, and bottom */
    -fx-padding: 15px;
}


/* Style for the Label */
#title {
    /* Set font size and color */
    /*Change the color of the title to white*/
    -fx-font-size: 23px;
    -fx-text-fill: #e3e3e3;
}

#sqr_image{
    /* Add margin to the bottom */
    -fx-margin-bottom: 10px;
}